#header {
    background-color: pink;
    height: 100px;
}
#main {
    background-color: red;
    height: 500px;
    float: left;
    width: 70%;
    overflow: scroll;
}
#side-bar {
    background-color: green;
    height: 500px;
    float: left;
    width: 30%;
}
#footer {
    background-color: grey;
    height: 100px;
    clear: both;
}
body {
    background-image: url(tải\ xuống\ \(1\).jpg);
}
#header, #main, #side-bar, #footer {
    opacity: 0.8;
}
h1 {
    text-align: center;
    font-family: cursive;
}
i1 {
    height: 100px;
}
i2 {
    width: 100%;
}